.contact {
    display: flex;
}

.contact_column {
    width: 50%;
}

.contact_header {
    font-size: 49px;
    line-height: 57px;
    font-family: "Raleway";
    margin-bottom: 22px;
}

.contact_text {
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;

    margin-bottom: 42px;
}

.contact_row {
    display: flex;
}

.contact_email {
    position: relative;
    color: #a5a5a5;
    transform: translate(27px, 0);
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 27px;
        width: 27px;
        background: url(../assets/mail_icon.svg) center center;
        transform: translate(-120%, -5px);
        margin-left: 2px;
    }
}

.contact_number {
    display: inline-block;
    position: relative;
    color: #a5a5a5;
    transform: translate(27px, 0);
    margin-left: 50px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 27px;
        width: 27px;
        background: url(../assets/phone_icon.svg) center center;
        transform: translate(-120%, -5px);
        margin-left: 2px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px 0 60px;
}

.form_label {
    color: $c-blue;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3px;
    font-weight: bold;
}

.form_input {
    border: none;
    margin: 10px 0 5px;
    border-bottom: 1px solid #a5a5a5;
    line-height: 27px;
    margin-bottom: 30px;

    &:focus {
        outline: none;
    }
}

.form_row {
    display: flex;
}

.form_consent {
    color: #a5a5a5;
    font-size: 12px;
    line-height: 17px;
    font-family: "Open Sans", sans-serif;
}

.form_checkbox {
    appearance: none;
    padding: 12px;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #95989a;
    margin-left: -2px;

    &:checked {
        background: url(../assets/checkmark.svg) center center no-repeat;
        background-size: 12px;
    }

    &:focus {
        outline: none;
    }
}

.form_submit {
    width: 225px;
    height: 60px;
    border: none;
    background-color: $c-blue;
    border-radius: 35px;
    color: white;
    font-size: 13px;
    line-height: 18px;
    margin-top: 20px;
    margin-left: auto;
}

@media (max-width: 800px) {
    .contact {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact_column {
        width: 100%;
    }
    .contact_row {
        flex-direction: column;
        align-items: flex-start;

        .contact_number {
            margin: 20px 0 30px;
        }
    }
}
