$c-redpink: #fb3b64;
$c-redpink_dark: #eb476e;
$c-blue: #07ace6;
$c-blue_lighter: #07ace6;
$c-blue_opaque: #07ace629;
$c-green: #55dfb4;
$c-dark: #13253b;

:root {
    --c_redpink: #fb3b64;
    --c_redpink_dark: #eb476e;
    --c_blue: #07ace6;
    --c_blue_lighter: #07ace6;
    --c_blue_opaque: #07ace629;
    --c_green: #55dfb4;
    --c_dark: #13253b;
}
